html {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-code-component-card {
    position: relative;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
}

.qr-code {
    width: 250px;
    border-radius: 10px;
}

.text-container {
    width: 240px;
}

.qr-code-heading {
    font-weight: 700;
    text-align: center;
}

.qr-code-paragraph {
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}